{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="card-header">
    <strong>
      {{ booking.client }}
    </strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Driver: </strong>{{ booking.driver }}
    </p>

    <p class="card-text">
      <strong>Pickup Time: </strong>{{ booking.pickup_time }}
    </p>

    <p class="card-text">
      <strong>Dropoff Time: </strong>{{ booking.dropoff_time }}
    </p>

    <p class="card-text">
      <strong>Service: </strong>{{ booking.get_service_type_display }}
    </p>

    <p class="card-text">
      <strong>Price: </strong>{{ booking.price }}
    </p>

    <p class="card-text">
      <strong>Status: </strong>{{ booking.status }}
    </p>

    <p class="card-text">
      {% if booking.service_type == 'AT' %}
      <strong>Dropoff: </strong>{{ booking.destination_street }}, {{ booking.destination_city }},
      {{ booking.destination_state }}, {{ booking.destination_zipcode }} <br>
      {% else %}
      <strong>Dropoff: </strong> {{ booking.destination_street }}, {{ booking.destination_city }},
      {{ booking.destination_state }}, {{ booking.destination_zipcode }} <br>
      {% endif %}
    </p>
  </div>
</div>

<br><br>
<a href="{% url 'booking_list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete' pk=booking.pk %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update' pk=booking.pk %}" class="btn btn-secondary">Update Booking</a>



{% endblock %}